[server]
# username for running the daemon
username = 
# hostname. set it to a FQDN in order to be reached from outside
host = 0.0.0.0
# ports
electrum_rpc_port = 8100
#stratum_tcp_port = 51001
stratum_tcp_ssl_port = 51002
#report_host = 
#report_stratum_tcp_port = 51001
#report_stratum_tcp_ssl_port = 51002
banner = Welcome to Electrum for FairCoin!
banner_file = /etc/electrum.banner
#irc = no
#irc_nick = <yournickname>
ssl_certfile = /path/to/server.crt
ssl_keyfile = /path/to/server.key
logfile = /var/log/electrum.log
donation_address = 

[leveldb]
# path to your database
path = 
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 10000

[bitcoind]
bitcoind_host = localhost
bitcoind_port = 46393
# user and password from bitcoin.conf
bitcoind_user = 
bitcoind_password = 
